# Ignore app settings (copy to .example.env.* to check in example files)
/.env*

# RSpec
/spec/examples.txt

# Logs
/log/*.log

# Temp files
tmp/*

# Ignore vim's swap files
.*.sw?

# Ignore coverage
coverage/*
*.DS_Store

# Backups
backup.sql
backup-full.sql
