{
  "openapi": "3.0.0",
  "info": {
    "title": "medlibra",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.medlibra.app",
      "description": "prod"
    },
    {
      "url": "https://stage.medlibra.app",
      "description": "stage"
    }
  ],
  "paths": {
    "/v1/users": {
      "put": {
        "summary": "Should be hit after user chose krok and fiend",
        "tags": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "operationId": "update-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "krokTypeId": {
                    "type": "number"
                  },
                  "fieldId": {
                    "type": "number"
                  },
                  "learningIntensity": {
                    "type": "string"
                  },
                  "helperNotificationsEnabled": {
                    "type": "boolean"
                  },
                  "changesNotificationsEnabled": {
                    "type": "boolean"
                  },
                  "theme": {
                    "type": "string",
                    "description": "dark or light"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": ""
      },
      "post": {
        "summary": "Should be hit right after user authenticated",
        "tags": [],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "operationId": "create-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/dictionary": {
      "get": {
        "summary": "Map of krok types to fields",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "dictionary",
        "parameters": []
      },
      "parameters": []
    },
    "/v1/exams": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "year": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "string"
                      },
                      "triesAmount": {
                        "type": "number"
                      },
                      "score": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "exams"
      },
      "parameters": []
    },
    "/v1/subjects": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "subjects"
      },
      "parameters": []
    },
    "/v1/subjects/{id}/all": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exam": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          }
                        }
                      },
                      "training": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          }
                        }
                      },
                      "year": {
                        "type": "string"
                      },
                      "triesAmount": {
                        "type": "number"
                      },
                      "score": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "subject-booklets",
        "description": ""
      }
    },
    "/v1/questions/{assignmentId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "assignmentId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean"
                    },
                    "hasPrev": {
                      "type": "boolean"
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "isCorrect": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "bookmarked": {
                            "type": "boolean"
                          },
                          "mistaked": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "questions",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "offset"
          }
        ]
      }
    },
    "/v1/questions/{assignmentId}/finish": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "assignmentId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "",
        "operationId": "finish-assignment",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "questionId": {
                      "type": "number"
                    },
                    "choosenAnswerId": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookmarks": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNext": {
                      "type": "boolean"
                    },
                    "hasPrev": {
                      "type": "boolean"
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "year": {
                            "type": "string"
                          },
                          "subfield": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "description": "can be training or exam. if training subfield should be taken, otherwise write exam(Буклет)"
                          },
                          "answer": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "bookmarks",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "limit"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "offset"
          }
        ]
      },
      "post": {
        "summary": "",
        "operationId": "create-bookmarks",
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questionId": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ]
}
